RewriteEngine On
RewriteBase /funkgui/

# Standard Industry Guardrail: Protect your JS and CSS assets from the router loop
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]